@use 'sass:map'
@use 'variables' as *
@use 'extends'

\:host
  @extend %fieldset-layout

  display: block

fieldset div[hidden]
  display: unset
  visibility: hidden

mat-slide-toggle
  margin-bottom: map.get($mat-mdc-form-field, subscript-wrapper, padding, horizontal)

mat-accordion
  flex-basis: 100%
