<h1>Конфигурация данных GPS-трекера</h1>

<mat-card>
  <mat-card-title>Стандартные параметры</mat-card-title>

  <mat-card-content>
    <mat-table [dataSource]="standardParametersDataSource" *ngIf="standardParameters$ | async">
      <ng-container [matColumnDef]="column.key" *ngFor="let column of parameterColumns">
        <mat-header-cell *matHeaderCellDef>{{ column.value }}</mat-header-cell>

        <mat-cell [ngSwitch]="column.key" *matCellDef="let element">
          <ng-container [ngSwitch]="element.param" *ngSwitchCase="ParameterColumn.Value">
            <ng-container *ngSwitchCase="TrackerParameterName.Time">
              {{ element[column.key] | date }}
            </ng-container>

            <ng-container [ngTemplateOutlet]="degree" *ngSwitchCase="TrackerParameterName.Latitude"></ng-container>

            <ng-container [ngTemplateOutlet]="degree" *ngSwitchCase="TrackerParameterName.Longitude"></ng-container>

            <ng-container *ngSwitchCase="TrackerParameterName.Altitude">
              {{ element[column.key] | number: '1.1-1':'en-US' }} м
            </ng-container>

            <ng-container *ngSwitchCase="TrackerParameterName.Speed">
              {{ element[column.key] | number: '1.1-1':'en-US' }} км/ч
            </ng-container>

            <ng-template #degree>{{ element[column.key] | number: '1.6-6':'en-US' }}&deg;</ng-template>
          </ng-container>

          <ng-container *ngSwitchDefault>{{ element[column.key] }}</ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="parameterColumnKeys"></mat-header-row>

      <mat-row *matRowDef="let row; columns: parameterColumnKeys"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Доступные параметры</mat-card-title>

    <button mat-stroked-button color="accent" (click)="onParametersHistory()">История значений</button>
  </mat-card-header>

  <mat-card-content>
    <mat-table [dataSource]="parametersDataSource" *ngIf="parameters$ | async">
      <ng-container [matColumnDef]="column.key" *ngFor="let column of parameterColumns | slice:1">
        <mat-header-cell *matHeaderCellDef>{{ column.value }}</mat-header-cell>

        <mat-cell [ngSwitch]="column.key" *matCellDef="let element">
          <ng-container [ngSwitch]="element.param" *ngSwitchCase="ParameterColumn.Value">
            <ng-container *ngSwitchCase="TrackerParameterName.Time">
              {{ element[column.key] | date }}
            </ng-container>

            <ng-container *ngSwitchDefault>{{ element[column.key] }}</ng-container>
          </ng-container>

          <ng-container *ngSwitchDefault>{{ element[column.key] }}</ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="parameterColumnKeys | slice:1"></mat-header-row>

      <mat-row *matRowDef="let row; columns: parameterColumnKeys | slice:1"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title>Датчики</mat-card-title>

    <button mat-flat-button color="accent" (click)="onCreateSensor()">Добавить датчик</button>
  </mat-card-header>

  <mat-card-content>
    <mat-table [dataSource]="sensorsDataSource" *ngIf="sensors$ | async">
      <ng-container [matColumnDef]="column.key" *ngFor="let column of sensorColumns">
        <ng-container [ngSwitch]="column.key">
          <ng-container *ngSwitchCase="SensorColumn.Action">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <mat-header-cell *matHeaderCellDef>{{ column.value }}</mat-header-cell>
          </ng-container>
        </ng-container>

        <mat-cell [ngSwitch]="column.key" *matCellDef="let element">
          <ng-container *ngSwitchCase="SensorColumn.Action">
            <button mat-icon-button bioTableActionsTrigger>
              <mat-icon>more_horiz</mat-icon>
            </button>

            <div class="actions">
              <button mat-icon-button title="Редактировать" color="accent" (click)="onUpdateSensor(element)">
                <mat-icon class="md-18">edit</mat-icon>
              </button>

              <button mat-icon-button title="Копировать" color="accent">
                <mat-icon class="md-18">content_copy</mat-icon>
              </button>
            </div>
          </ng-container>

          <ng-container [ngTemplateOutlet]="value" *ngSwitchCase="SensorColumn.Type"></ng-container>

          <ng-container [ngTemplateOutlet]="value" *ngSwitchCase="SensorColumn.Unit"></ng-container>

          <ng-container [ngTemplateOutlet]="toggle" *ngSwitchCase="SensorColumn.Visibility"></ng-container>

          <ng-container *ngSwitchDefault>{{ element[column.key] }}</ng-container>

          <ng-template #toggle>
            <mat-slide-toggle disabled [checked]="element[column.key]"></mat-slide-toggle>
          </ng-template>

          <ng-template #value>{{ element[column.key]?.value }}</ng-template>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="sensorColumnKeys"></mat-header-row>

      <mat-row *matRowDef="let row; columns: sensorColumnKeys"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
