@use 'sass:map'
@use 'variables' as *

\:host
  display: block

nav
  display: flex
  align-items: center
  padding: 15px 30px
  background-color: $lighter-gray

a,
span
  font-size: 13px
  font-weight: 500

$navigation-item-height: 25px

a

  &:not(:first-child)

    &,
    & + span
      margin-left: 20px

  &.mat-mdc-unelevated-button.mat-mdc-button-base
    height: $navigation-item-height

  &.mat-mdc-unelevated-button:not(:disabled, :hover)
    color: $dark-gray

span
  $mat-mdc-button: ('padding': 0 15px, 'border-radius': 4px)

  padding: map.get($mat-mdc-button, 'padding')
  background-color: $white
  color: $green
  border-radius: map.get($mat-mdc-button, 'border-radius')
  line-height: $navigation-item-height
