<div class="logo">
  <a #link="routerLinkActive" title="Bio-Ton Field Management System" routerLinkActive routerLink="/" [routerLinkActiveOptions]="{
    exact: true
  }" [hidden]="link.isActive">
    <ng-container *ngTemplateOutlet="logo"></ng-container>
  </a>

  <ng-container [ngTemplateOutlet]="logo" *ngIf="link.isActive"></ng-container>

  <ng-template #logo>
    <img src="assets/images/bio-ton-field-management-system-logo-sunflower.svg" alt="Bio-Ton Field Management System" width="42"
      height="44">

    <img src="assets/images/bio-ton-field-management-system-logo-white.svg" alt="Bio-Ton Field Management System" width="149" height="44">
  </ng-template>
</div>

<mat-nav-list *ngFor="let list of NAVIGATION">
  <ng-container *ngFor="let group of list; last as last">
    <ng-container *ngFor="let item of group">
      <a #link="routerLinkActive" mat-list-item routerLinkActive="active" [title]="item.title" [routerLink]="item.link"
        *ngIf="item.link; else button">
        <img matListItemIcon width="24" height="24" [src]="'assets/images/' + item.icon + (link?.isActive ? '-white.svg' : '-green.svg')"
          [alt]="item.alt">

        <span matListItemTitle>{{ item.title }}</span>
      </a>

      <ng-template #button>
        <button mat-list-item (click)="onNavigationButtonClick(item.type!)">
          <img matListItemIcon width="24" height="24" [src]="'assets/images/' + item.icon + '-green.svg'" [alt]="item.alt">

          <span matListItemTitle>{{ item.title }}</span>
        </button>
      </ng-template>
    </ng-container>

    <mat-divider *ngIf="!last"></mat-divider>
  </ng-container>
</mat-nav-list>
