<h1 mat-dialog-title>{{
  this.data ? 'Сводная информация о техническом средстве' : 'Добавление технического средства'
  }}</h1>

<mat-dialog-content>
  <form id="vehicle-form" [formGroup]="vehicleForm" (ngSubmit)="submitVehicleForm()">
    <fieldset formGroupName="basic">
      <legend>Основные сведения</legend>

      <div class="full-two-thirds">
        <label for="name">Наименование машины</label>

        <mat-form-field>
          <input matInput id="name" placeholder="Наименование машины" formControlName="name">

          <mat-error><strong>Наименование машины</strong> обязательное поле</mat-error>
        </mat-form-field>
      </div>

      <div>
        <label for="make">Производитель</label>

        <mat-form-field>
          <input matInput id="make" placeholder="Производитель" formControlName="make">

          <mat-error><strong>Производитель</strong> обязательное поле</mat-error>
        </mat-form-field>
      </div>

      <div>
        <label for="model">Модель</label>

        <mat-form-field>
          <input matInput id="model" placeholder="Модель" formControlName="model">

          <mat-error><strong>Модель</strong> обязательное поле</mat-error>
        </mat-form-field>
      </div>

      <div>
        <label for="year">Год производства</label>

        <mat-form-field>
          <input matInput bioNumberOnlyInput id="year" type="number" placeholder="Год производства"
            formControlName="year" [max]="maxManufacturingYear">

          <mat-error *ngIf="vehicleForm.controls.basic.controls.year.errors?.['max'] as error">
            <strong>Год производства</strong> должен быть менее {{ error.max + 1 }}
          </mat-error>

          <mat-error *ngIf="vehicleForm.controls.basic.controls.year.errors?.['pattern']">
            <strong>Год производства</strong> введён некорректно
          </mat-error>
        </mat-form-field>
      </div>

      <ng-container *ngIf="vehicleData$ | async as vehicleData">
        <div>
          <label>Группа машин</label>

          <mat-form-field>
            <mat-select placeholder="Группа машин" formControlName="group">
              <mat-option>Группа машин</mat-option>

              <mat-option [value]="group.id" *ngFor="let group of vehicleData.groups">{{ group.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <label>Тип машины</label>

          <mat-form-field>
            <mat-select placeholder="Тип машины" formControlName="type">
              <mat-option>Тип машины</mat-option>

              <mat-option [value]="type.key" *ngFor="let type of vehicleData.type">{{ type.value }}</mat-option>
            </mat-select>

            <mat-error><strong>Тип машины</strong> обязательное поле</mat-error>
          </mat-form-field>
        </div>

        <div>
          <label>Подтип машины</label>

          <mat-form-field>
            <mat-select placeholder="Подтип машины" formControlName="subtype">
              <mat-option>Подтип машины</mat-option>

              <mat-option [value]="subtype.key" *ngFor="let subtype of vehicleData.subtype">
                {{ subtype.value }}
              </mat-option>
            </mat-select>

            <mat-error><strong>Подтип машины</strong> обязательное поле</mat-error>
          </mat-form-field>
        </div>

        <div>
          <label>Тип топлива</label>

          <mat-form-field>
            <mat-select placeholder="Тип топлива" formControlName="fuel">
              <mat-option>Тип топлива</mat-option>

              <mat-option [value]="fuel.id" *ngFor="let fuel of vehicleData.fuels">{{ fuel.name }}</mat-option>
            </mat-select>

            <mat-error><strong>Тип топлива</strong> обязательное поле</mat-error>
          </mat-form-field>
        </div>
      </ng-container>
    </fieldset>

    <fieldset formGroupName="registration">
      <legend>Регистрационные данные</legend>

      <div>
        <label for="registration">Регистрационный номер</label>

        <mat-form-field>
          <input matInput id="registration" placeholder="Регистрационный номер" formControlName="registration">

          <mat-error><strong>Регистрационный номер</strong> состоит из букв и цифр</mat-error>
        </mat-form-field>
      </div>

      <div class="two-thirds-half">
        <label for="inventory">Инвентарный номер</label>

        <mat-form-field>
          <input matInput id="inventory" placeholder="Инвентарный номер" formControlName="inventory">
        </mat-form-field>
      </div>

      <div>
        <label for="serial">Серийный номер кузова</label>

        <mat-form-field>
          <input matInput id="serial" placeholder="Серийный номер кузова" formControlName="serial">
        </mat-form-field>
      </div>

      <div class="two-thirds-half">
        <label for="tracker">GPS трекер</label>

        <mat-form-field>
          <input matInput bioNumberOnlyInput id="tracker" type="number" placeholder="GPS трекер"
            formControlName="tracker">
        </mat-form-field>
      </div>
    </fieldset>

    <fieldset formGroupName="additional">
      <legend>Дополнительные сведения</legend>

      <div class="full-two-thirds">
        <label for="description">Описание</label>

        <mat-form-field>
          <input matInput id="description" placeholder="Описание" formControlName="description">
        </mat-form-field>
      </div>
    </fieldset>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between">
  <button mat-stroked-button color="accent" mat-dialog-close>Отмена</button>

  <button mat-flat-button type="submit" form="vehicle-form" color="accent">Сохранить</button>
</mat-dialog-actions>
