################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
.vs
bin
obj
.idea
StyleCop.Cache
*.DotSettings.user
*.user
#/packages/
/libs/*.*
/BioTonFMSApp/logs/*.*
/TrackerMessages/BioTonFMS.TrackerMessageHandler/logs/*.*
/TrackerMessages/BioTonFMS.TrackerTcpServer/logs/*.*
/GlobalAssemblyInfo.cs
/**/logs/
/**/ClientApp/node_modules
/**/ClientApp/.cache
/BioTonFMSApp/ClientApp/package-lock.json
/BioTonFMSApp/ClientApp/dist
/Backend/GlobalAssemblyInfo.cs
/Backend/libs/BioTonFMS.Version.dll
