.authentication
  display: flex
  justify-content: center
  align-items: flex-start
  padding-top: 150px
  padding-bottom: 40px

  mat-card
    $mat-card-padding: 60px

    width: 520px
    min-height: 480px
    padding: 12px $mat-card-padding $mat-card-padding
