@use 'sass:map'
@use 'sass:math'
@use 'variables' as *

%authentication
  display: flex
  justify-content: center
  align-items: flex-start
  padding-top: 150px
  padding-bottom: 40px

  mat-card
    width: 520px
    min-height: 480px

  mat-card-title-group
    align-items: center
    height: 79px
    padding-top: 10px

  $mat-card-padding: 60px

  mat-card-title-group,
  mat-card-content,
  mat-card-actions
    padding-left: $mat-card-padding
    padding-right: $mat-card-padding

  mat-card-title,
  .logo
    position: relative

  mat-card-title
    top: 4px
    margin-bottom: unset
    font-size: 20px
    font-weight: 700

  .logo
    top: 2px
    align-self: flex-start

    a
    .version
      display: block

    .version
      margin-top: 5px
      color: $green
      font-size: 10px
      text-align: right

  mat-divider[inset]
    margin-bottom: 35px

  $mat-card-actions-spacing-vertical: 8px

  mat-card-content
    margin-bottom: 30px - $mat-card-actions-spacing-vertical

  mat-card-actions
    padding-bottom: $mat-card-padding - $mat-card-actions-spacing-vertical

  mat-card-content mat-form-field,
  mat-card-actions button
    width: 100%

  form
    position: relative

    > mat-error
      position: absolute
      bottom: 0
      width: 100%
      height: map.get($mat-mdc-form-field, subscript-wrapper, padding, vertical) + 2 * map.get($mat-mdc-form-field, subscript-wrapper, line-height)
      margin-bottom: unset
      padding-left: map.get($mat-mdc-form-field, subscript-wrapper, padding, horizontal)
      padding-right: map.get($mat-mdc-form-field, subscript-wrapper, padding, horizontal)
      font-size: map.get($mat-mdc-form-field, font-size)

      &.mat-mdc-form-field-bottom-align::before
        display: block

%page-layout
  padding: 20px 30px 30px

%striped-table

  mat-table:not(section *):not(mat-card *):not(mat-dialog-container *)
    box-shadow: $box-shadow

  mat-header-row
    white-space: pre-line

  .mat-mdc-header-row
    min-height: 45px

  mat-row
    position: relative
    transition: background-color map.get($transition, panel, duration) map.get($transition, panel, timing-function)

    &:nth-child(odd)
      background-color: $light

    &:hover
      background-color: $light-gray

    &.link
      cursor: pointer

  .mat-mdc-row
    min-height: 40px

  mat-card .mdc-data-table__table,
  mat-dialog-content .mdc-data-table__table,
  mat-header-cell,
  mat-cell,
  :last-child .mdc-data-table__cell,
  .actions
    border: math.div(1px, 2) solid $light-gray

  mat-header-cell,
  mat-cell:not(.mat-column-parameters),
  .actions
    justify-content: center
    text-align: center

    &:not(section *):not(mat-card *):not(mat-dialog-container *)

      &:first-of-type
        border-left-color: transparent

      &:last-child
        border-right-color: transparent

  mat-header-cell
    font-size: 10px
    font-weight: 500

    &:not(section *):not(mat-card *):not(mat-dialog-container *)
      border-top-color: transparent

  mat-cell
    font-size: 14px

  .mdc-data-table__header-cell,
  .mdc-data-table__cell
    padding: 0 math.div(16px, 2)

  .mdc-data-table__row:last-child:not(section *):not(mat-card *):not(mat-dialog-container *)

    .mdc-data-table__cell,
    .actions
      border-bottom-color: transparent

  .mat-column-action,
  .mat-column-position,
  .mat-column-time,
  .mat-column-location,
  .mat-column-speed,
  .mat-column-altitude
    flex: unset

  .mat-column-time,
  .mat-column-location
    width: 175px

  .mat-column-speed,
  .mat-column-altitude
    width: 70px

  .mat-column-action
    $column-spacing-horizontal: 10px

    width: 2 * $column-spacing-horizontal + map.get($mat-icon-button, size)

    button.deferred-hover + .actions,
    .actions:hover
      display: flex

    .actions
      $transparent-gradient-extra-spacing: 30px
      $actions-padding-right: $transparent-gradient-extra-spacing + $column-spacing-horizontal

      position: absolute
      top: 0
      left: 0
      display: none
      align-items: center
      gap: map.get($mat-icon-button, gap)
      height: 100%
      padding: 0 $actions-padding-right 0 $column-spacing-horizontal
      background: linear-gradient(to left, transparent, $white $actions-padding-right)
      border-right: unset

  .mat-column-position
    width: 65px

    @at-root .mat-mdc-row mat-cell.mat-mdc-cell#{&}
      justify-content: flex-start

%heading-with-border
  padding-bottom: 10px
  color: $darker-gray
  border-bottom: 1px solid $lighter-gray
  font-weight: 500

%fieldset-layout

  fieldset
    $column-gap: 40px

    display: flex
    flex-wrap: wrap
    column-gap: $column-gap

    > div
      $field-width: math.div(100%, 3)
      $field-gap: 2 * math.div($column-gap, 3)

      &,
      &::before,
      &::after
        flex: 0 calc($field-width - $field-gap)

      &::before,
      &::after
        content: ''
        order: 1
        height: 0

      &.full-two-thirds,
      &.full-third
        flex-basis: 100%

      &.full-two-thirds mat-form-field
        width: calc(2 * ($field-width - $field-gap) + $column-gap)

      &.full-third mat-form-field
        width: calc($field-width - $field-gap)

      &.two-thirds,
      &.two-thirds-half
        flex-basis: calc(2 * ($field-width - $field-gap) + $column-gap)

      &.two-thirds mat-form-field
        width: 100%

      &.two-thirds-half mat-form-field
        $field-width: math.div(100%, 2)
        $field-gap: math.div($column-gap, 2)

        width: calc($field-width - $field-gap)

%info-layout

  dl
    display: flex
    flex-wrap: wrap
    margin-bottom: 25px

    dt,
    dd
      display: flex
      color: $light-dark

  dl:first-of-type
    gap: 15px

    div
      flex: 1

      &:first-child,
      &:last-child

        dd
          font-size: 10px

      &:last-child span,
      &:not(:first-child, :last-child) dd
        text-wrap: nowrap

      &:first-child
        display: flex
        column-gap: 10px
        flex-basis: 100%

        dd:last-of-type
          justify-content: flex-end
          flex: 1
          text-align: right

      &:not(:first-child)
        flex-direction: column
        row-gap: 10px

        &,
        dd
          display: flex

        dd
          flex: 1
          font-weight: 500

      &:last-child
        padding-right: 10px

        dd span
          display: inline-block
          line-height: normal

    dt,
    dd
      align-items: center
      flex-wrap: wrap

    dt
      color: $darker-gray
      font-size: 9px

    dd
      font-size: 13px

  h1,
  h2
    @extend %heading-with-border

  h1
    font-size: 10px
    margin-bottom: 5px

  h2
    font-size: 15px
    margin-bottom: 20px

  dl:not(:first-of-type)
    row-gap: 10px

    dt
      flex: 45%
      font-size: 11px
      line-height: 12px

    dd
      flex: 55%
      font-weight: 500
