@use 'sass:map'
@use 'sass:math'

$black: #000000
$dark: #0B110B
$dark-shady: #1E4929
$light-dark: #202020
$green: #2E653C
$shady: #606257
$brighter-green: #699575
$darker-gray: #6A6A6A
$light-green: #8FAB93
$dark-gray: #929292
$gray: #AEAEAE
$lighter-green: #CAD8CE
$light-gray: #E9E9E9
$red: #EB5757
$lighter-gray: #F0F1EB
$light: #F8F9F4
$yellow: #FAD565
$white: #FFFFFF

$mat-card-padding: 20px !default

$mat-dialog-content-padding-bottom: 2px !default

$mat-list-option: (padding-right: 8px, checkbox: (before: (margin-left: 2px), padding: 11px))

$mat-mdc-form-field: (font-size: 14px, padding: (horizontal: 12px), infix: (height: 40px), subscript-wrapper: (padding: (vertical: 5px, horizontal: 50px), line-height: 20px))

$mat-icon-button: (size: 30px, padding: math.div(30px - 24px, 2), icon: (font-size: 24px, line-height: 24px, md-18-margin-horizontal: math.div(30px - 18px, 2)), gap: 4px)

$transition: (panel: (duration: 200ms, timing-function: cubic-bezier(0.25, 0.8, 0.25, 1)), button: (duration: 280ms, timing-function: cubic-bezier(0.4, 0, 0.2, 1)))

$box-shadow: 0px 2px 9px rgba($shady, 18%)

$animation: (fill-mode: forwards, timing-function: cubic-bezier(0.55, 0, 0.55, 0.2), panel: (duration: 280ms), text: (duration: 300ms))

$fadein-animation: (panel: (fadein map.get($animation, panel, duration) map.get($animation, fill-mode) map.get($animation, timing-function)), text: (fadein map.get($animation, text, duration) map.get($animation, fill-mode) map.get($animation, timing-function)))

$bio-sidebar-width: 100px

$map-aside-width: 400px

@keyframes fadein
  from
    opacity: 0

  to
    opacity: 1
