$black: #000000
$dark: #0B110B
$dark-shady: #1E4929
$light-dark: #202020
$green: #2E653C
$light-green: #8FAB93
$shady: #606257
$darker-gray: #6A6A6A
$dark-gray: #929292
$gray: #AEAEAE
$lighter-green: #CAD8CE
$light-gray: #E9E9E9
$red: #EB5757
$ligher-gray: #F0F1EB
$light: #F8F9F4
$white: #FFFFFF

$mat-card-actions-spacing-vertical: 5px

$mat-form-field-font-size: 14px
$mat-form-field-subscript-wrapper: ('margin-vertical': 5px, 'padding-horizontal': 70px, 'line-height': 20px)
$mat-list-item-content-padding-horizontal: 10px

$sidebar-width: 100px

$box-shadow: 0px 2px 9px rgba($shady, 18%)
