<button mat-icon-button bioStopClickPropagation title="Показать путь" color="primary">
  <mat-icon class="md-18">route</mat-icon>
</button>

<button mat-icon-button bioStopClickPropagation title="Показать местоположение" color="primary">
  <mat-icon class="md-18">my_location</mat-icon>
</button>

<mat-icon class="md-18" title="Движение" [color]="vehicle.movementStatus === MovementStatus.Moving ? 'accent' : 'primary'"
  [fontIcon]="vehicle.movementStatus === MovementStatus.Moving ? 'play_arrow' : 'stop'"></mat-icon>

<mat-icon class="md-18" title="Соединение"
  [color]="vehicle.connectionStatus === ConnectionStatus.Connected ? 'accent' : 'primary'">podcasts</mat-icon>

<mat-icon class="md-18" title="Спутники"
  [color]="vehicle.numberOfSatellites > 7 ? 'accent' : vehicle.numberOfSatellites > 4 ? 'primary' : 'warn'">
  signal_cellular_alt
</mat-icon>

<button mat-icon-button bioStopClickPropagation title="Отправить команду" color="accent">
  <mat-icon class="md-18">sms</mat-icon>
</button>
