@use 'variables' as *
@use 'extends'

$mdc-dialog-spacing-horizontal: 30px

h1.mdc-dialog__title
  margin-top: 20px
  margin-left: $mdc-dialog-spacing-horizontal
  margin-right: $mdc-dialog-spacing-horizontal
  padding-left: unset
  padding-right: unset

  &::before
    content: unset

.mat-mdc-dialog-container h1.mdc-dialog__title,
.mdc-dialog mat-dialog-content.mdc-dialog__content
  font-size: unset
  font-family: unset
  line-height: unset
  letter-spacing: unset

.mat-mdc-dialog-container

  h1.mdc-dialog__title
    @extend %heading-with-border

    margin-bottom: 30px
    font-size: 18px

  mat-dialog-content.mdc-dialog__content
    color: unset

.mdc-dialog mat-dialog-content.mdc-dialog__content
  font-weight: unset

.mdc-dialog mat-dialog-content.mdc-dialog__content,
mat-dialog-actions.mdc-dialog__actions
  padding-left: $mdc-dialog-spacing-horizontal
  padding-right: $mdc-dialog-spacing-horizontal

.mdc-dialog mat-dialog-content.mdc-dialog__content
  padding-bottom: $mat-dialog-content-padding-bottom

mat-dialog-actions

  &.mat-mdc-dialog-actions
    justify-content: center

    .mat-mdc-button-base + .mat-mdc-button-base
      margin-left: 100px

  &.mdc-dialog__actions
    padding-bottom: 15px

  button
    width: 200px
