@use 'sass:map'
@use 'sass:math'
@use 'variables' as *

mat-form-field
  font-size: map.get($mat-mdc-form-field, font-size)

.mat-mdc-form-field-has-icon-suffix div.mat-mdc-text-field-wrapper
  $mat-mdc-form-field-icon-suffix-padding: map.get($mat-mdc-form-field, padding, horizontal) - map.get($mat-icon-button, padding)

  padding-right: $mat-mdc-form-field-icon-suffix-padding

.mdc-text-field--outlined

  @at-root div#{&}
    padding-left: map.get($mat-mdc-form-field, padding, horizontal)
    padding-right: map.get($mat-mdc-form-field, padding, horizontal)

  .mdc-notched-outline div
    $mdc-notched-outline-border-radius: 3px

    &.mdc-notched-outline__leading
      border-top-left-radius: $mdc-notched-outline-border-radius
      border-bottom-left-radius: $mdc-notched-outline-border-radius

    &.mdc-notched-outline__trailing
      border-top-right-radius: $mdc-notched-outline-border-radius
      border-bottom-right-radius: $mdc-notched-outline-border-radius

  &:not(.mdc-text-field--disabled, .mdc-text-field--invalid)

    .mdc-notched-outline__leading,
    .mdc-notched-outline__notch,
    .mdc-notched-outline__trailing
      border-color: $light-gray

    &:not(.mdc-text-field--focused):hover .mdc-notched-outline

      .mdc-notched-outline__leading,
      .mdc-notched-outline__notch,
      .mdc-notched-outline__trailing
        border-color: $gray

.mdc-text-field--focused div

  &.mdc-notched-outline__leading,
  &.mdc-notched-outline__notch,
  &.mdc-notched-outline__trailing
    border-width: 1px

.mat-mdc-form-field-text-prefix,
.mat-mdc-form-field-text-suffix
  white-space: nowrap

.mat-mdc-form-field-text-prefix
  padding-right: 4px

.mat-mdc-form-field-text-suffix
  padding-left: 4px

.mat-mdc-form-field-icon-prefix,
.mat-mdc-form-field-icon-suffix

  .mdc-icon-button.mat-mdc-icon-button
    color: $gray

.mat-mdc-form-field-infix
  display: flex
  align-items: center
  min-height: map.get($mat-mdc-form-field, infix, height)

  @at-root div#{&}
    width: unset

  @at-root .mat-mdc-text-field-wrapper.mdc-text-field--outlined &
    $mat-mdc-text-field-height: 16.5px
    $mat-mdc-text-field-infix-padding-vertical: math.div(map.get($mat-mdc-form-field, 'infix', 'height') - $mat-mdc-text-field-height, 2)

    padding-top: $mat-mdc-text-field-infix-padding-vertical
    padding-bottom: $mat-mdc-text-field-infix-padding-vertical

.mat-mdc-form-field-subscript-wrapper,
div.mat-mdc-form-field-hint-wrapper,
div.mat-mdc-form-field-error-wrapper
  padding-top: map.get($mat-mdc-form-field, subscript-wrapper, padding, vertical)
  padding-bottom: map.get($mat-mdc-form-field, subscript-wrapper, padding, vertical)

div.mat-mdc-form-field-bottom-align::before
  display: block
  height: 2 * map.get($mat-mdc-form-field, subscript-wrapper, line-height)

div

  &.mat-mdc-form-field-hint-wrapper,
  &.mat-mdc-form-field-error-wrapper
    padding-left: map.get($mat-mdc-form-field, subscript-wrapper, padding, horizontal)
    padding-right: map.get($mat-mdc-form-field, subscript-wrapper, padding, horizontal)

  &.mat-mdc-form-field-hint-wrapper
    display: unset

mat-hint,
mat-error
  line-height: map.get($mat-mdc-form-field, subscript-wrapper, line-height)
  text-align: center

  &.mat-mdc-form-field-bottom-align::before
    height: unset

mat-hint
  display: block
  color: $gray

.mat-mdc-form-field-hint-spacer
  display: none
