@use 'sass:map'
@use 'variables' as *

.mat-mdc-snack-bar-container

  div

    &.mdc-snackbar__surface
      background-color: $light-green
      box-shadow: $box-shadow

    &.mdc-snackbar__label
      font-size: 14px

  div.mdc-snackbar__label
    color: $light

  button.mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled)
    color: $white

  .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled),
  .mat-mdc-button .mat-mdc-button-touch-target
    height: map.get($mat-icon-button, size)

  .mat-mdc-button.mat-mdc-snack-bar-action:not(:disabled)
    width: map.get($mat-icon-button, size)
    border-radius: 50%

  &.error .mdc-snackbar__surface
    background-color: $red

.mat-mdc-snack-bar-label
  text-align: center

.mdc-button.mat-mdc-snack-bar-action
  min-width: unset
  padding-left: map.get($mat-icon-button, padding)
  padding-right: map.get($mat-icon-button, padding)
  font-size: map.get($mat-icon-button, icon, font-size)
