@use 'variables' as *
@use 'extends'

.mat-mdc-card
  box-shadow: $box-shadow

mat-card-title-group,
mat-card-header,
mat-card-content,
mat-card-actions
  padding-left: $mat-card-padding
  padding-right: $mat-card-padding

mat-card-title-group,
mat-card-header,
mat-card-content

  &:first-child
    padding-top: $mat-card-padding

mat-card > .mat-mdc-card-title
  margin: $mat-card-padding $mat-card-padding 20px

mat-card-content:last-child
  padding-top: $mat-card-padding

mat-card-title
  font-size: 13px
  font-weight: 500
