@use 'variables' as *
@use 'extends' as *

mat-dialog-container
  background-color: $white

  &.mat-dialog-container
    padding-top: 20px
    padding-left: 30px
    padding-right: 30px
    padding-bottom: 15px

  label
    color: $darker-gray

[mat-dialog-title]
  font-size: 18px
  line-height: unset

  &.mat-dialog-title
    @extend %heading-with-border

mat-dialog-actions
  justify-content: center

  &.mat-dialog-actions .mat-mdc-button-base + .mat-mdc-button-base
    margin-left: 100px

  button
    width: 200px
