@use 'variables' as *
@use 'extends' as *

mat-dialog-container.mat-dialog-container
  padding-top: 20px
  padding-left: 30px
  padding-right: 30px
  padding-bottom: 15px

[mat-dialog-title]
  font-size: 18px
  line-height: unset

  &.mat-dialog-title
    @extend %heading-with-border
