@use 'sass:map'
@use 'variables' as *

.mat-mdc-unelevated-button,
.mat-mdc-outlined-button,
.mat-mdc-icon-button

  span.mat-mdc-button-touch-target
    height: 100%

.mat-mdc-unelevated-button,
.mat-mdc-outlined-button,
.mat-mdc-icon-button.mat-unthemed
  --mat-mdc-button-ripple-color: rgba($white, 10%)

.mat-mdc-unelevated-button,
.mat-mdc-outlined-button

  &.mat-mdc-button-base
    height: 30px

  span.mat-mdc-button-persistent-ripple::before
    --mat-mdc-button-persistent-ripple-color: #{$white}

  span.mat-mdc-button-touch-target
    height: 100%

  mat-card-actions &,
  mat-dialog-actions &
    font-weight: 500

    &:last-of-type:hover:not(:disabled)
      box-shadow: 0 4px 8px rgba($dark-shady, 13%)

    & .mat-mdc-button-touch-target,
    &.mat-mdc-button-base
      height: 40px

.mat-mdc-unelevated-button.mat-unthemed,
.mat-mdc-outlined-button.mat-accent

  &:hover:not(:disabled)
    background-color: $green
    color: $white

.mat-mdc-outlined-button

  @at-root button#{&}:not(:disabled)
    border-color: $green

  mat-card-actions &,
  mat-dialog-actions &

    &:hover:not(:disabled)
      box-shadow: $box-shadow

.mat-mdc-icon-button
  transition: color $button-transition

  @at-root a#{&}
    display: flex
    justify-content: center
    align-items: center

  &.mat-primary
    --mat-mdc-button-persistent-ripple-color: #{$green}
    --mat-mdc-button-ripple-color: rgba($green, 10%)

  &.mat-mdc-button-base
    width: map.get($mat-icon-button, size)
    height: map.get($mat-icon-button, size)

  &.mat-mdc-button-base
    padding: map.get($mat-icon-button, padding)

  span.mat-mdc-button-persistent-ripple::before
    transition: opacity $button-transition

  @at-root .mat-column-action > #{&}:hover span.mat-mdc-button-persistent-ripple::before
    opacity: 0

  mat-icon
    line-height: map.get($mat-icon-button, icon, line-height)

  &.mat-unthemed,
  &.mat-primary
    color: $gray

  &.mat-accent,
  &.mat-warn
    color: $green

  &.mat-unthemed[aria-pressed="true"]
    color: $light-green

  &.mat-primary[aria-pressed="true"]
    color: $green

  &:hover,
  &:active

    &.mat-unthemed,
    &.mat-primary,
    &.mat-accent
      color: $light-green

    &.mat-warn
      color: $red

  span.mat-mdc-button-touch-target
    width: 100%

button,
a

  &.mat-mdc-unelevated-button,
  &.mat-mdc-outlined-button
    transition-property: background-color, color, border, box-shadow
