@use 'variables' as *

.mat-stroked-button,
.mat-icon-button
  transition-property: background-color, color
  transition-duration: 200ms
  transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1)

.mat-stroked-button
  font-size: unset

  &:not([class*=mat-elevation-z])
    box-shadow: unset

  &:not(.mat-button-disabled)
    border-color: unset

  &:hover:not(.mat-button-disabled)
    background-color: $green
    color: $white
    border-color: $green

    span.mat-button-focus-overlay
      opacity: 0

  $mat-stroked-button-border-width: 1px
  $mat-button-line-height: 30px
  $mat-button-line-height: $mat-button-line-height - 2 * $mat-stroked-button-border-width

  @at-root button#{&}
    font-weight: unset
    line-height: $mat-button-line-height

  mat-card-actions &
    $mat-stroked-button-border-width: 1px
    $mat-stroked-button-line-height: 40px

    font-weight: 500
    line-height: $mat-stroked-button-line-height - 2 * $mat-stroked-button-border-width

    &[form]:hover:not(.mat-button-disabled)
      box-shadow: 0px 4px 8px rgba($dark-shady, 13%)
