@use 'variables' as *

.mat-mdc-card
  box-shadow: $box-shadow

mat-card-title-group,
mat-card-content,
mat-card-actions
  padding-left: $mat-card-padding
  padding-right: $mat-card-padding

mat-card-title-group,
mat-card-content

  &:first-child
    padding-top: $mat-card-padding

mat-card-title
  font-size: 20px
  font-weight: 700

mat-card-content

  &:last-child
    padding-top: $mat-card-padding
