@use 'sass:map'
@use 'variables' as *

.mdc-menu-surface
  box-shadow: $box-shadow

  @at-root div#{&}.mat-mdc-select-panel
    padding-top: 5px
    padding-bottom: 5px

.mat-mdc-select-value-text
  color: $dark

.mat-mdc-select-placeholder,
.mat-mdc-optgroup-label .mdc-list-item__primary-text
  color: $dark-gray

.mat-mdc-select-disabled .mat-mdc-select-placeholder
  color: $gray

div.mat-mdc-select-arrow-wrapper
  height: unset

.mat-mdc-select-arrow
  color: $gray

  .mat-mdc-form-field .mat-mdc-select.mat-mdc-select-disabled &
    color: $light-gray

mat-select svg
  max-width: unset

mat-optgroup,
mat-option
  font-size: map.get($mat-mdc-form-field, font-size)

.mat-mdc-option

  &:hover:not(.mdc-list-item--disabled),
  &.mat-mdc-option-active
    background-color: $light-gray

  @at-root span.mat-mdc-optgroup-label,
  mat-option#{&}
    min-height: map.get($mat-mdc-form-field, infix, height)
    padding-left: map.get($mat-mdc-form-field, padding, horizontal)
    padding-right: map.get($mat-mdc-form-field, padding, horizontal)

  @at-root .mat-mdc-optgroup mat-option#{&}:not(.mat-mdc-option-multiple)
    padding-left: 2 * map.get($mat-mdc-form-field, padding, horizontal)
