<aside>
  <form id="selection-form" [formGroup]="selectionForm" (ngSubmit)="submitSelectionForm()">
    <div>
      <label for="tech">Объект</label>

      <mat-form-field>
        <input matInput id="tech" placeholder="Поиск" formControlName="tech" [matAutocomplete]="auto">

        <mat-error *ngIf="selectionForm.controls.tech.errors?.['required']">Обязательное поле</mat-error>

        <mat-error *ngIf="selectionForm.controls.tech.errors?.['selectionRequired']">Объект должен быть выбран из списка</mat-error>

        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn">
          <mat-option [value]="tech" *ngFor="let tech of tech$ | async; trackBy: techTrackBy">{{ tech.name }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <fieldset formGroupName="range">
      <fieldset formGroupName="start">
        <label for="start">От</label>

        <mat-form-field>
          <input id="start" matInput formControlName="date" placeholder="Дата начала" [matDatepicker]="startPicker"
            [max]="selectionForm.controls.range.controls.end.controls.date.value ?? maxStartDate">

          <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>

          <mat-hint><em>01.01.2023</em></mat-hint>

          <mat-error *ngIf="!selectionForm.controls.range.controls.start.controls.date.errors?.['matDatepickerParse']
            && selectionForm.controls.range.controls.start.controls.date.errors?.['required']">Обязательное поле</mat-error>

          <mat-error *ngIf="selectionForm.controls.range.controls.start.controls.date.errors?.['matDatepickerParse']">
            Неверная дата
          </mat-error>

          <mat-error *ngIf="selectionForm.controls.range.controls.start.controls.date.errors?.['matDatepickerMax'] as error">
            Дата позднее {{ error.max | date:'dd.MM.YYYY' }}
          </mat-error>

          <mat-datepicker #startPicker color="accent"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput bioTimeCharsInput placeholder="Время начала" formControlName="time">

          <mat-hint><em>00:00</em></mat-hint>

          <mat-error *ngIf="selectionForm.controls.range.controls.start.controls.time?.errors?.['required']">Обязательное поле</mat-error>

          <mat-error *ngIf="selectionForm.controls.range.controls.start.controls.time.errors?.['pattern']">
            Время введено некорректно
          </mat-error>

          <mat-error *ngIf="!selectionForm.controls.range.controls.start.controls.time?.errors?.['required']
            && !selectionForm.controls.range.controls.start.controls.time.errors?.['pattern']
            && selectionForm.controls.range.controls.start.controls.time.errors?.['rangeTimeMax'] as error">
            Время позднее {{ error.max }}
          </mat-error>
        </mat-form-field>
      </fieldset>

      <fieldset formGroupName="end">
        <label for="end">До</label>

        <mat-form-field>
          <input id="end" matInput formControlName="date" placeholder="Дата конца" [matDatepicker]="endPicker"
            [min]="selectionForm.controls.range.controls.start.controls.date.value" [max]="maxEndDate">

          <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>

          <mat-hint><em>31.12.2023</em></mat-hint>

          <mat-error *ngIf="!selectionForm.controls.range.controls.end.controls.date.errors?.['matDatepickerParse']
            && selectionForm.controls.range.controls.end.controls.date.errors?.['required']">Обязательное поле</mat-error>

          <mat-error *ngIf="selectionForm.controls.range.controls.end.controls.date.errors?.['matDatepickerParse']">
            Неверная дата
          </mat-error>

          <mat-error *ngIf="selectionForm.controls.range.controls.end.controls.date.errors?.['matDatepickerMin'] as error">
            Дата ранее {{ error.min | date:'dd.MM.YYYY' }}
          </mat-error>

          <mat-error *ngIf="selectionForm.controls.range.controls.end.controls.date.errors?.['matDatepickerMax'] as error">
            Дата позднее {{ error.max | date:'dd.MM.YYYY' }}
          </mat-error>

          <mat-datepicker #endPicker color="accent"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput bioTimeCharsInput placeholder="Время конца" formControlName="time">

          <mat-hint><em>23:59</em></mat-hint>

          <mat-error *ngIf="selectionForm.controls.range.controls.end.controls.time.errors?.['required']">Обязательное поле</mat-error>

          <mat-error *ngIf="selectionForm.controls.range.controls.end.controls.time.errors?.['pattern']">
            Время введено некорректно
          </mat-error>

          <mat-error *ngIf="!selectionForm.controls.range.controls.end.controls.time.errors?.['required']
            && !selectionForm.controls.range.controls.end.controls.time.errors?.['pattern']
            && selectionForm.controls.range.controls.end.controls.time.errors?.['rangeTimeMin'] as error">
            Время ранее {{ error.min }}
          </mat-error>
        </mat-form-field>
      </fieldset>
    </fieldset>

    <fieldset formGroupName="message">
      <div>
        <label for="type">Тип сообщений</label>

        <mat-form-field>
          <mat-label>Тип сообщений</mat-label>

          <mat-select id="type" placeholder="Тип сообщений" formControlName="type" (selectionChange)="onMessageTypeSelectionChange($event)">
            <mat-option [value]="MessageType.DataMessage">Сообщения с данными</mat-option>

            <mat-option [value]="MessageType.CommandMessage">Отправленные команды</mat-option>
          </mat-select>

          <mat-error>Обязательное поле</mat-error>
        </mat-form-field>
      </div>

      <div [hidden]="selectionForm.controls.message.controls.type.value !== MessageType.DataMessage">
        <label for="parameters">Параметры</label>

        <mat-form-field>
          <mat-label>Параметры</mat-label>

          <mat-select id="parameters" placeholder="Параметры" formControlName="parameters">
            <mat-option [value]="DataMessageParameter.TrackerData">Исходные данные</mat-option>

            <mat-option [value]="DataMessageParameter.SensorData">Значения датчиков</mat-option>
          </mat-select>

          <mat-error>Обязательное поле</mat-error>
        </mat-form-field>
      </div>
    </fieldset>

    <button mat-stroked-button type="reset" color="accent" (click)="onResetSelectionForm()">Очистить</button>

    <button mat-flat-button type="submit" color="accent">Выполнить</button>
  </form>

  <ng-container *ngIf="statistics$ | async as statistics">
    <h1>Статистика</h1>

    <dl class="statistics">
      <dt>Всего сообщений:</dt>
      <dd>{{ statistics.numberOfMessages }}</dd>

      <dt>Общее время:</dt>
      <dd>{{ statistics.totalTime }} ч</dd>

      <dt>Расстояние:</dt>
      <dd>
        <ng-container *ngIf="statistics.distance !== undefined; else default">{{ statistics.distance | number:'1.0-0' }} км</ng-container>
      </dd>

      <dt>Пробег:</dt>
      <dd>{{ statistics.mileage | number:'1.0-0' }} км</dd>

      <dt>Средняя скорость:</dt>
      <dd>{{ statistics.averageSpeed | number:'1.1-1':'en-US' }} км/ч</dd>

      <dt>Максимальная скорость:</dt>
      <dd>
        <ng-container *ngIf="statistics.maxSpeed !== undefined; else default">
          {{ statistics.maxSpeed | number:'1.1-1':'en-US' }} км/ч
        </ng-container>
      </dd>
    </dl>

    <ng-template #default>-</ng-template>

    <h1>Легенда</h1>

    <dl id="legend">
      <dd [style.--marker-background-color]="'#699575'">Сообщения из «черного ящика» (от 2 до 10 минут)</dd>
      <dd [style.--marker-background-color]="'#8FAB93'">Сообщения из «черного ящика» (от 10 до 30 минут)</dd>
      <dd [style.--marker-background-color]="'#CAD8CE'">Сообщения из «черного ящика» (позже 30 минут)</dd>
    </dl>
  </ng-container>
</aside>

<bio-map [location]="location$ | async"></bio-map>

<section id="messages">
  <ng-container *ngIf="messages$ | async as messages; else unselected">
    <figure role="region" aria-labelledby="legend"
      *ngIf="(messages.trackerDataMessages || messages.sensorDataMessages || messages.commandMessages)?.length; else empty">
      <mat-table [dataSource]="messagesDataSource!">
        <ng-container sticky [matColumnDef]="column.key" *ngFor="let column of columns | slice:0:messages.sensorDataMessages ? 1 : 2">
          <mat-header-cell [ngSwitch]="column.key" *matHeaderCellDef>
            <ng-container *ngSwitchCase="MessageColumn.Selection">
              <mat-checkbox title="Выбрать все" [checked]="selection.hasValue() && isAllSelected"
                [indeterminate]="selection.hasValue() && !isAllSelected" (change)="$event ? toggleAllRows() : null">
              </mat-checkbox>
            </ng-container>

            <ng-container *ngSwitchDefault>{{ column.value }}</ng-container>
          </mat-header-cell>

          <mat-cell [ngSwitch]="column.key" *matCellDef="let element">
            <ng-container *ngSwitchCase="MessageColumn.Selection">
              <mat-checkbox bioStopClickPropagation title="Выбрать" [checked]="selection.isSelected(element)"
                (change)="$event ? selection.toggle(element) : null">
              </mat-checkbox>
            </ng-container>

            <ng-container *ngSwitchDefault>{{ element[column.key] }}</ng-container>
          </mat-cell>
        </ng-container>

        <ng-container [matColumnDef]="column.key" *ngFor="let column of columns | slice:messages.sensorDataMessages ? 1 : 2">
          <mat-header-cell *matHeaderCellDef>{{ column.value }}</mat-header-cell>

          <mat-cell [ngSwitch]="column.key" *matCellDef="let element">
            <ng-container [ngTemplateOutlet]="date" *ngSwitchCase="MessageColumn.Time"></ng-container>

            <ng-container [ngTemplateOutlet]="date" *ngSwitchCase="MessageColumn.Registration"></ng-container>

            <ng-container [ngTemplateOutlet]="date" *ngSwitchCase="MessageColumn.Execution"></ng-container>

            <ng-container [ngTemplateOutlet]="telemetry" *ngSwitchCase="MessageColumn.Speed"></ng-container>

            <ng-container *ngSwitchCase="MessageColumn.Location">
              {{ element[column.key].latitude | number: '1.6-6':'en-US' }}
              {{ element[column.key].longitude | number: '1.6-6':'en-US' }}
              ({{ element[column.key].satellites }})
            </ng-container>

            <ng-container [ngTemplateOutlet]="telemetry" *ngSwitchCase="MessageColumn.Altitude"></ng-container>

            <ng-container *ngSwitchCase="MessageColumn.Parameters">
              <mat-chip-set>
                <mat-chip disableRipple *ngFor="let parameter of element[column.key]; trackBy: parameterTrackBy">
                  {{ parameter.paramName }}={{ parameter.lastValueString ?? parameter.lastValueDecimal ?? parameter.lastValueDateTime }}
                </mat-chip>
              </mat-chip-set>
            </ng-container>

            <ng-container *ngSwitchDefault>{{ element[column.key] }}</ng-container>

            <ng-template #date>{{ element[column.key] | date }}</ng-template>

            <ng-template #telemetry>{{ element[column.key] | number: '1.1-1':'en-US' }}</ng-template>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="columnKeys; sticky: true"></mat-header-row>

        <mat-row [class]="row.class" *matRowDef="let row; columns: columnKeys"></mat-row>
      </mat-table>
    </figure>

    <ng-template #empty>
      <p>Сообщения не найдены</p>
    </ng-template>
  </ng-container>

  <ng-template #unselected>
    <p>Сообщения не выбраны</p>
  </ng-template>
</section>
