<aside>
  <form id="selection-form" [formGroup]="selectionForm" (ngSubmit)="submitSelectionForm()">
    <div>
      <label for="tech">Объект</label>

      <mat-form-field>
        <input matInput id="tech" placeholder="Поиск" formControlName="tech" [matAutocomplete]="auto">

        <mat-error *ngIf="selectionForm.controls.tech.errors?.['required']">Обязательное поле</mat-error>

        <mat-error *ngIf="selectionForm.controls.tech.errors?.['selectionRequired']">Объект должен быть выбран из списка</mat-error>

        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn">
          <mat-option [value]="tech" *ngFor="let tech of tech$ | async; trackBy: techTrackBy">{{ tech.name }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <fieldset formGroupName="range">
      <fieldset formGroupName="start">
        <label for="start">От</label>

        <mat-form-field>
          <input id="start" matInput formControlName="date" placeholder="Дата начала" [matDatepicker]="startPicker"
            [max]="selectionForm.controls.range.controls.end.controls.date.value">

          <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>

          <mat-hint><em>01.01.2023</em></mat-hint>

          <mat-error *ngIf="!selectionForm.controls.range.controls.start.controls.date.errors?.['matDatepickerParse']
            && selectionForm.controls.range.controls.start.controls.date.errors?.['required']">Обязательное поле</mat-error>

          <mat-error *ngIf="selectionForm.controls.range.controls.start.controls.date.errors?.['matDatepickerParse']">
            Неверная дата
          </mat-error>

          <mat-error *ngIf="selectionForm.controls.range.controls.start.controls.date.errors?.['matDatepickerMax'] as error">
            Дата позднее {{ error.max | date:'dd.MM.YYYY' }}
          </mat-error>

          <mat-datepicker #startPicker color="accent"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Время начала" formControlName="time">

          <mat-hint><em>00:00</em></mat-hint>

          <mat-error *ngIf="selectionForm.controls.range.controls.start.controls.time?.errors?.['required']">Обязательное поле</mat-error>

          <mat-error *ngIf="selectionForm.controls.range.controls.start.controls.time.errors?.['pattern']">
            Время введено некорректно
          </mat-error>

          <mat-error *ngIf="!selectionForm.controls.range.controls.start.controls.time?.errors?.['required']
            && !selectionForm.controls.range.controls.start.controls.time.errors?.['pattern']
            && selectionForm.controls.range.controls.start.controls.time.errors?.['rangeTimeMax'] as error">
            Время должно быть ранее {{ error.max }}
          </mat-error>
        </mat-form-field>
      </fieldset>

      <fieldset formGroupName="end">
        <label for="end">До</label>

        <mat-form-field>
          <input id="end" matInput formControlName="date" placeholder="Дата конца" [matDatepicker]="endPicker"
            [min]="selectionForm.controls.range.controls.start.controls.date.value">

          <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>

          <mat-hint><em>31.12.2023</em></mat-hint>

          <mat-error *ngIf="!selectionForm.controls.range.controls.end.controls.date.errors?.['matDatepickerParse']
            && selectionForm.controls.range.controls.end.controls.date.errors?.['required']">Обязательное поле</mat-error>

          <mat-error *ngIf="selectionForm.controls.range.controls.end.controls.date.errors?.['matDatepickerParse']">
            Неверная дата
          </mat-error>

          <mat-error *ngIf="selectionForm.controls.range.controls.end.controls.date.errors?.['matDatepickerMin'] as error">
            Дата ранее {{ error.min | date:'dd.MM.YYYY' }}
          </mat-error>

          <mat-datepicker #endPicker color="accent"></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Время конца" formControlName="time">

          <mat-hint><em>23:59</em></mat-hint>

          <mat-error *ngIf="selectionForm.controls.range.controls.end.controls.time.errors?.['required']">Обязательное поле</mat-error>

          <mat-error *ngIf="selectionForm.controls.range.controls.end.controls.time.errors?.['pattern']">
            Время введено некорректно
          </mat-error>

          <mat-error *ngIf="!selectionForm.controls.range.controls.end.controls.time.errors?.['required']
            && !selectionForm.controls.range.controls.end.controls.time.errors?.['pattern']
            && selectionForm.controls.range.controls.end.controls.time.errors?.['rangeTimeMin'] as error">
            Время должно быть позже {{ error.min }}
          </mat-error>
        </mat-form-field>
      </fieldset>
    </fieldset>

    <fieldset formGroupName="message">
      <div>
        <label for="type">Тип сообщений</label>

        <mat-form-field>
          <mat-select id="type" placeholder="Тип сообщений" formControlName="type" (selectionChange)="onMessageTypeSelectionChange($event)">
            <mat-option>Тип сообщений</mat-option>

            <mat-option [value]="MessageType.DataMessage">Сообщения с данными</mat-option>

            <mat-option [value]="MessageType.CommandMessage">Отправленные команды</mat-option>
          </mat-select>

          <mat-error>Обязательное поле</mat-error>
        </mat-form-field>
      </div>

      <div [hidden]="selectionForm.controls.message.controls.type.value !== MessageType.DataMessage">
        <label for="parameters">Параметры</label>

        <mat-form-field>
          <mat-select id="parameters" placeholder="Параметры" formControlName="parameters">
            <mat-option>Параметры</mat-option>

            <mat-option [value]="DataMessageParameter.TrackerData">Исходные данные</mat-option>

            <mat-option [value]="DataMessageParameter.SensorData">Значения датчиков</mat-option>
          </mat-select>

          <mat-error>Обязательное поле</mat-error>
        </mat-form-field>
      </div>
    </fieldset>

    <button mat-stroked-button type="reset" color="accent">Очистить</button>

    <button mat-flat-button type="submit" color="accent">Выполнить</button>
  </form>

  <ng-container *ngIf="statistics">
    <h1>Статистика</h1>

    <dl class="statistics">
      <dt>Всего сообщений:</dt>
      <dd>{{ statistics.numberOfMessages }}</dd>

      <dt>Общее время:</dt>
      <dd>{{ statistics.totalTime }} ч</dd>

      <dt>Расстояние:</dt>
      <dd>
        <ng-container *ngIf="statistics.distance !== undefined; else default">{{ statistics.distance | number:'1.0-0' }} км</ng-container>
      </dd>

      <dt>Пробег:</dt>
      <dd>{{ statistics.mileage | number:'1.0-0' }} км</dd>

      <dt>Средняя скорость:</dt>
      <dd>{{ statistics.averageSpeed | number:'1.1-1':'en-US' }} км/ч</dd>

      <dt>Максимальная скорость:</dt>
      <dd>
        <ng-container *ngIf="statistics.maxSpeed !== undefined; else default">
          {{ statistics.maxSpeed | number:'1.1-1':'en-US' }} км/ч
        </ng-container>
      </dd>
    </dl>

    <ng-template #default>-</ng-template>
  </ng-container>
</aside>

<bio-map></bio-map>
