<aside>
  <form id="selection-form" [formGroup]="selectionForm">
    <div>
      <label for="tech">Объект</label>

      <mat-form-field>
        <input matInput id="tech" placeholder="Поиск" formControlName="tech" [matAutocomplete]="auto">

        <mat-error *ngIf="selectionForm.controls.tech.errors?.['required']">Обязательное поле</mat-error>

        <mat-error *ngIf="selectionForm.controls.tech.errors?.['selectionRequired']">Объект должен быть выбран из списка</mat-error>

        <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption [displayWith]="displayFn">
          <mat-option [value]="tech" *ngFor="let tech of tech$ | async; trackBy: techTrackBy">{{ tech.name }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <fieldset formGroupName="range">
      <fieldset formGroupName="start">
        <label for="start">От</label>

        <mat-form-field>
          <input id="start" matInput formControlName="date" placeholder="Дата начала" [matDatepicker]="startPicker">

          <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>

          <mat-hint><em>01.01.2023</em></mat-hint>

          <mat-datepicker #startPicker color="accent"></mat-datepicker>
        </mat-form-field>
      </fieldset>

      <fieldset formGroupName="end">
        <label for="end">До</label>

        <mat-form-field>
          <input id="end" matInput formControlName="date" placeholder="Дата конца" [matDatepicker]="endPicker">

          <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>

          <mat-hint><em>31.12.2023</em></mat-hint>

          <mat-datepicker #endPicker color="accent"></mat-datepicker>
        </mat-form-field>
      </fieldset>
    </fieldset>

    <button mat-stroked-button type="reset" color="accent">Очистить</button>

    <button mat-flat-button type="submit" color="accent">Выполнить</button>
  </form>
</aside>

<bio-map></bio-map>
