@use 'extends'
@use 'variables' as *

\:host
  display: flex

aside
  padding: 10px

form,
dl:not(:last-of-type)
  margin-bottom: 30px

form
  display: flex
  flex-wrap: wrap
  justify-content: center
  column-gap: 20px

  $field-column-gap: 20px

  > div,
  > fieldset fieldset,
  > fieldset:last-of-type
    display: flex
    column-gap: $field-column-gap

  > div,
  > fieldset
    flex-basis: 100%

  > div,
  > fieldset fieldset

    &:nth-child(-n + 3)
      align-items: baseline

      mat-form-field
        $label-flex-basis: 41px
        $field-count: 2

        display: inline-block
        flex-basis: calc((100% - $label-flex-basis - 2 * $field-column-gap) / $field-count)

      label
        margin-bottom: unset
        margin-right: auto

  > div mat-form-field
    flex: 1

  > fieldset:last-of-type
    margin-bottom: 8px

    > div
      flex: 1

  button
    width: 160px

h1
  @extend %heading-with-border

  margin-bottom: 20px
  font-size: 15px

dl.statistics
  display: flex
  flex-wrap: wrap
  row-gap: 10px

  dt,
  dd
    padding-left: 10px
    padding-right: 10px
    color: $light-dark

  dt
    flex-basis: 45%
    font-size: 11px
    line-height: 12px

  dd
    flex-basis: 55%
    font-size: 12px
    font-weight: 500
