@use 'sass:map'
@use 'sass:math'
@use 'extends'
@use 'variables' as *

\:host
  @extend %striped-table

  display: flex
  flex-wrap: wrap

aside
  overflow-y: scroll
  padding: 10px

  > :last-child
    margin-bottom: 20px

form#selection-form,
dl:not(:last-of-type)
  margin-bottom: 40px

form#selection-form
  display: flex
  flex-wrap: wrap
  justify-content: center
  column-gap: 20px

  $field-column-gap: 20px

  > div,
  > fieldset fieldset,
  > fieldset:last-of-type
    display: flex
    column-gap: $field-column-gap

  > div,
  > fieldset
    flex-basis: 100%

  > div,
  > fieldset fieldset

    &:nth-child(-n + 3)
      align-items: baseline

      label
        margin-bottom: unset
        margin-right: auto

      mat-form-field
        $label-flex-basis: 41px
        $field-count: 2

        display: inline-block
        flex-basis: calc((100% - $label-flex-basis - 2 * $field-column-gap) / $field-count)

  > div mat-form-field
    flex: 1

  > fieldset:last-of-type
    margin-bottom: 8px

    > div
      flex: 1

  button
    width: 160px

h1
  @extend %heading-with-border

  margin-bottom: 20px
  font-size: 15px

dl
  display: flex
  row-gap: 10px

$flex-spacing-horizontal: 10px

dl.statistics
  flex-wrap: wrap

  dt,
  dd
    padding-left: $flex-spacing-horizontal
    padding-right: $flex-spacing-horizontal
    color: $light-dark

  dt
    flex-basis: 45%
    font-size: 11px
    line-height: 12px

  dd
    flex-basis: 55%
    font-size: 12px
    font-weight: 500

dl#legend
  flex-direction: column

  dd
    display: flex
    align-items: center
    flex-basis: 100%
    padding-right: 10px
    font-size: 11px

    &::before
      $marker-size: 16px

      content: ''
      width: $marker-size
      height: $marker-size
      margin-left: $flex-spacing-horizontal
      margin-right: 2 * $flex-spacing-horizontal
      background-color: var(--marker-background-color)
      border-radius: 4px

$messages-height: 50vh

bio-map
  margin-bottom: $messages-height

#messages
  overflow-y: auto
  position: relative
  flex-direction: column
  flex-basis: 100%
  height: $messages-height
  margin-top: - $messages-height
  margin-left: $map-aside-width
  background-color: $white

  &,
  p
    display: flex

  $controls-padding-horizontal: 10px

  header,
  footer
    padding: 0 $controls-padding-horizontal

  header
    display: flex
    align-items: center
    min-height: 60px

    form
      flex-basis: 80%

  figure
    overflow: auto
    margin-bottom: auto

    &:has(mat-table)
      border: math.div(1px, 2) solid $light-gray
      border-top-width: 1px
      border-bottom-width: 1px

  mat-row

    &:hover
      background-color: inherit

    mat-chip.highlight
      --mdc-chip-elevated-container-color: #{rgba(var(--background-color), 35%)}

    &.black-box
      background-color: $lighter-green

      mat-chip.highlight
        --mdc-chip-elevated-container-color: #{rgba(var(--background-color), 55%)}

    &.black-box-medium,
    &.black-box-long

      mat-cell
        color: $white

      mat-chip:not(.highlight)
        --mdc-chip-label-text-color: #{$white}

        border-color: $light-gray

    &.black-box-medium
      background-color: $light-green

      mat-chip
        --mdc-chip-elevated-container-color: #{$brighter-green}

        &.highlight
          --mdc-chip-elevated-container-color: #{rgba(var(--background-color), 80%)}

    &.black-box-long
      background-color: $brighter-green

      mat-chip
        --mdc-chip-elevated-container-color: #{$light-green}

        &.highlight
          --mdc-chip-elevated-container-color: #{rgba(var(--background-color), 90%)}

  $selection-column-width: 56px

  mat-header-cell,
  mat-cell

    &.mat-column-registration,
    &.mat-column-speed,
    &.mat-column-execution,
    &.mat-column-channel
      flex: unset

    &.mat-column-speed,
    &.mat-column-altitude
      min-width: 70px

    &.mat-column-selection
      min-width: $selection-column-width

    &.mat-column-position
      min-width: 65px

    &.mat-column-location
      min-width: 200px

    &.mat-column-parameters
      min-width: 475px

    &[class*="mat-column-sensor"]
      min-width: 100px

    &.mat-column-channel
      min-width: 80px

    &:not(.mat-column-selection, .mat-column-position, .mat-column-location, .mat-column-speed, .mat-column-altitude, .mat-column-parameters, [class*="mat-column-sensor"], .mat-column-channel)
      min-width: 175px

  mat-header-cell
    border-top: unset

  mat-row:last-child mat-cell
    border-bottom: unset

  tr
    display: flex
    justify-content: center
    align-items: center

  tr,
  p
    font-size: 14px

  footer
    position: relative
    column-gap: 10px

    button[title="Удалить"]
      position: absolute
      top: 50%
      margin: 0 math.div($selection-column-width - map.get($mat-icon-button, size), 2) - $controls-padding-horizontal
      transform: translateY(-50%)
      animation: map.get($fadein-animation, button)

    bio-table-pagination
      margin-left: 46px

  p
    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    background-color: $light
    color: $green
    text-align: center
