<h1 mat-dialog-title>Отправить команду</h1>

<mat-dialog-content>
  <form id="command-form" [formGroup]="commandForm" (ngSubmit)="submitCommandForm()">
    <mat-button-toggle-group vertical aria-label="Протокол передачи" formControlName="transport">
      <mat-button-toggle [value]="TrackerCommandTransport.TCP">TCP</mat-button-toggle>
      <mat-button-toggle [value]="TrackerCommandTransport.SMS">SMS</mat-button-toggle>
    </mat-button-toggle-group>

    <div>
      <label for="message">Сообщение</label>

      <mat-form-field>
        <textarea matInput id="message" placeholder="Сообщение" formControlName="message"></textarea>

        <mat-error>Обязательное поле</mat-error>
      </mat-form-field>
    </div>

    <ng-container *ngIf="(commandResponse$ | async) !== null">
      <p [hidden]="(commandResponse$ | async) === undefined">
        <ng-container *ngIf="commandResponse$ | async as response">
          <span>{{ response }}</span>
        </ng-container>
      </p>
    </ng-container>
  </form>
</mat-dialog-content>

<mat-dialog-actions fxLayoutAlign="space-between">
  <button mat-stroked-button color="accent" mat-dialog-close>Отмена</button>

  <button mat-flat-button type="submit" form="command-form" color="accent">
    <mat-spinner [diameter]="20" *ngIf="(commandResponse$ | async) === undefined"></mat-spinner>

    <span>Отправить</span>
  </button>
</mat-dialog-actions>
