<mat-card>
  <mat-card-title-group>
    <mat-card-title>Вход в личный кабинет</mat-card-title>

    <div class="logo">
      <a title="Bio-Ton Field Management System" routerLink="/">
        <img src="assets/images/bio-ton-field-management-system-logo-green.svg" alt="Bio-Ton Field Management System"
          width="149" height="44">
      </a>

      <ng-container *ngIf="systemVersion$ | async as version">
        <span class="version">v. {{ version }}</span>
      </ng-container>
    </div>
  </mat-card-title-group>

  <mat-divider inset></mat-divider>

  <mat-card-content>
    <form id="sign-in-form" [formGroup]="signInForm" (ngSubmit)="submitSignInForm()">
      <label for="username">Логин</label>

      <mat-form-field>
        <input matInput id="username" placeholder="Логин" formControlName="username">

        <mat-error *ngIf="signInForm.controls.username.errors?.['required']">
          <strong>Логин</strong> обязательное поле
        </mat-error>

        <mat-error *ngIf="signInForm.controls.username.errors?.['minlength'] as error">
          <strong>Логин</strong> должен быть более {{ error.requiredLength - 1 }} символов
        </mat-error>

        <mat-error *ngIf="signInForm.controls.username.errors?.['maxlength'] as error">
          <strong>Логин</strong> должен быть менее {{ error.requiredLength + 1 }} символов
        </mat-error>
      </mat-form-field>

      <label for="password">Пароль</label>

      <mat-form-field>
        <input matInput id="password" placeholder="Пароль" formControlName="password"
          [type]="hidePassword ? 'password' : 'text'">

        <button mat-icon-button matSuffix type="button" aria-label="Скрыть пароль" [attr.aria-pressed]="hidePassword"
          (click)="togglePasswordVisibility($event)">
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>

        <mat-error><strong>Пароль</strong> обязательное поле</mat-error>
      </mat-form-field>

      <mat-error *ngIf="(signInForm.statusChanges | async) && signInForm.errors?.['serverError'] as error">
        {{ error.message }}
      </mat-error>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button form="sign-in-form" color="accent">Войти</button>
  </mat-card-actions>
</mat-card>
