<mat-card>
  <mat-card-title-group>
    <mat-card-title>Вход в личный кабинет</mat-card-title>

    <div class="logo">
      <a routerLink="/">
        <img src="assets/images/bio-ton-field-management-system-logo-green.svg" alt="Bio-Ton Field Management System"
          width="147" height="44">
      </a>

      <ng-container *ngIf="systemVersion$ | async as version">
        <span class="version">v. {{ version }}</span>
      </ng-container>
    </div>
  </mat-card-title-group>

  <mat-divider inset></mat-divider>

  <mat-card-content>
    <form id="sign-in-form" [formGroup]="signInForm">
      <label for="username">Логин</label>

      <mat-form-field>
        <input matInput id="username" placeholder="Логин" formControlName="username">
      </mat-form-field>

      <label for="password">Пароль</label>

      <mat-form-field>
        <input matInput id="password" type="password" placeholder="Пароль" formControlName="password">
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
