<form id="pagination-form" [formGroup]="paginationForm">
  <mat-form-field>
    <mat-label>Размер</mat-label>

    <mat-select #size id="size" placeholder="Размер" formControlName="size">
      <mat-option [value]="20">20</mat-option>

      <mat-option [value]="50">50</mat-option>

      <mat-option [value]="100">100</mat-option>

      <mat-option [value]="200">200</mat-option>
    </mat-select>
  </mat-form-field>

  <button type="button" title="Начало" mat-icon-button color="primary" (click)="onSwitchPage(1)">
    <mat-icon>keyboard_double_arrow_left</mat-icon>
  </button>

  <button type="button" title="Предыдущая" mat-icon-button color="primary"
    (click)="page.value && +page.value > 1 && onSwitchPage(+page.value -1)">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </button>

  <div>
    <label for="page">Страница</label>

    <mat-form-field>
      <input #page="matInput" formnovalidate matInput bioNumberOnlyInput id="page" type="number" min="1" formControlName="page"
        [max]="pagination.total">
    </mat-form-field>

    <span>из {{ pagination.total }}</span>
  </div>

  <button type="button" title="Следующая" mat-icon-button color="primary"
    (click)="page.value && +page.value < pagination.total && onSwitchPage(+page.value + 1)">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>

  <button type="button" title="Конец" mat-icon-button color="primary" (click)="onSwitchPage(pagination.total)">
    <mat-icon>keyboard_double_arrow_right</mat-icon>
  </button>
</form>

<output>Отображается с {{ pagination.pageIndex * size.value - size.value + 1 }} по {{ pagination.pageIndex === pagination.total
  ? pagination.records
  : pagination.pageIndex * size.value }} из {{ pagination.records }} сообщений</output>
