<button mat-stroked-button color="accent" (click)="onAddVehicle()">Добавить технику</button>

<mat-table matSort [dataSource]="vehiclesDataSource" *ngIf="vehiclesData$ | async"
  (matSortChange)="onSortChange($event)">
  <ng-container [matColumnDef]="column.key" *ngFor="let column of columns">
    <ng-container [ngSwitch]="column.key">
      <ng-container *ngSwitchCase="VehicleColumn.Action">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
      </ng-container>

      <ng-container [ngTemplateOutlet]="sort" *ngSwitchCase="VehicleColumn.Name"></ng-container>

      <ng-container [ngTemplateOutlet]="sort" *ngSwitchCase="VehicleColumn.Type"></ng-container>

      <ng-container [ngTemplateOutlet]="sort" *ngSwitchCase="VehicleColumn.Group"></ng-container>

      <ng-container [ngTemplateOutlet]="sort" *ngSwitchCase="VehicleColumn.Subtype"></ng-container>

      <ng-container [ngTemplateOutlet]="sort" *ngSwitchCase="VehicleColumn.Fuel"></ng-container>

      <ng-container *ngSwitchDefault>
        <mat-header-cell [innerHTML]="column.value" *matHeaderCellDef></mat-header-cell>
      </ng-container>

      <ng-template #sort>
        <mat-header-cell mat-sort-header *matHeaderCellDef>
          <div [innerHTML]="column.value"></div>
        </mat-header-cell>
      </ng-template>
    </ng-container>

    <mat-cell [ngSwitch]="column.key" *matCellDef="let element">
      <ng-container *ngSwitchCase="VehicleColumn.Action">
        <button mat-icon-button>
          <mat-icon class="md-18">edit</mat-icon>
        </button>
      </ng-container>

      <ng-container [ngTemplateOutlet]="value" *ngSwitchCase="VehicleColumn.Type"></ng-container>

      <ng-container [ngTemplateOutlet]="value" *ngSwitchCase="VehicleColumn.Subtype"></ng-container>

      <ng-container [ngTemplateOutlet]="value" *ngSwitchCase="VehicleColumn.Group"></ng-container>

      <ng-container [ngTemplateOutlet]="value" *ngSwitchCase="VehicleColumn.Fuel"></ng-container>

      <ng-container *ngSwitchCase="VehicleColumn.Registration">
        <span *ngFor="let node of element[column.key]?.split(' ')">{{ node }}</span>
      </ng-container>

      <ng-container [ngTemplateOutlet]="value" *ngSwitchCase="VehicleColumn.Tracker"></ng-container>

      <ng-container *ngSwitchDefault>{{ element[column.key] }}</ng-container>

      <ng-template #value>{{ element[column.key]?.value }}</ng-template>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsKeys"></mat-header-row>

  <mat-row *matRowDef="let row; columns: columnsKeys"></mat-row>
</mat-table>
