\:host
  display: block
  padding-bottom: 30px
  padding-left: 30px
  padding-right: 30px

mat-table
  margin-top: 30px

.mat-column-action
  flex: unset
  flex-basis: 55px

.mat-column-name
  flex: 2

.mat-column-registration span
  font-size: 10px

  &:first-child,
  &:last-child
    font-weight: 500

  &:not(:first-child)
    padding-left: 2px

  &:not(:last-child)
    padding-right: 2px

  &:first-child
    font-size: 15px

  &:last-child
    font-size: 11px
