@use 'extends'

\:host
  @extend %page-layout, %striped-table

  display: block
  text-align: right

[mat-stroked-button]
  margin-bottom: 30px

.mat-column-registration span
  font-size: 10px

  &:first-child,
  &:last-child
    font-weight: 500

  &:first-child
    font-size: 15px

  &:last-child
    font-size: 11px

  &:not(:first-child)
    margin-left: 2px

  &:not(:last-child)
    margin-right: 2px
