@use 'sass:map'
@use 'sass:math'
@use 'variables' as *
@use 'extends'

body
  background-color: $light
  color: $dark
  font-size: 16px
  font-family: Roboto, 'Helvetica Neue', sans-serif

strong
  font-weight: 700

label
  color: $darker-gray
  font-size: 12px
  line-height: 20px

  &:not(mat-slide-toggle label)
    display: inline-block
    margin-bottom: 10px

bio-root

  &,
  & > router-outlet + *
    min-height: 100vh

bio-sidebar ~ router-outlet + *
    margin-left: $bio-sidebar-width

fieldset div[hidden]
  display: unset
  visibility: hidden

fieldset:has(legend):not(:last-child)
  margin-bottom: 25px

legend
  @extend %heading-with-border

  width: 100%
  margin-bottom: 20px
  font-size: 15px

form > mat-error
  margin-bottom: 20px
  animation: transitionmessages map.get($animation, text, duration) map.get($animation, fill-mode) map.get($animation, timing-function)

  @keyframes transitionmessages
    from
      opacity: 0
      transform: translateY(-5px)

    to
      opacity: 1
      transform: translateY(0)

bio-tech,
bio-messages

  aside
    display: flex
    flex-direction: column
    flex-basis: $map-aside-width
    height: 100vh
    background-color: $white

  bio-map.maplibregl-map
    flex: 1
    height: unset

.maplibregl-popup-content
  @extend %info-layout

  $horizontal-spacing: 30px

  h1
    @extend %heading-with-border

    margin-bottom: 30px
    font-size: 18px

  h2 ~ div
    display: flex
    flex-wrap: wrap
    gap: 8px 10px

    span
      padding-left: 6px
      padding-right: 6px
      background: $lighter-gray
      color: $green
      border: 1px solid $light-green
      font-size: 10px
      font-weight: 500
      line-height: 18px
      border-radius: 6px
