@use 'sass:map'
@use 'variables' as *
@use 'extends' as *

\:host
  @extend %info-layout

  $padding: 10px

  display: block
  padding: $padding $padding $padding map.get($mat-list-option, checkbox, before, margin-left) + map.get($mat-list-option, checkbox, padding)

h1
  @extend %heading-with-border

  font-size: 10px
  margin-bottom: 5px

dl:not(:first-child)
  row-gap: 10px

  dt
    flex: 45%
    font-size: 11px

  dd
    flex: 55%
    font-weight: 500

mat-chip-set
  $padding-horizontal: 1px

  padding-top: $padding-horizontal
  padding-bottom: $padding-horizontal

mat-chip
  font-size: 10px
