@use 'sass:map'
@use 'variables' as *
@use 'extends' as *

\:host
  @extend %info-layout

  $padding: 10px

  display: block
  padding: $padding $padding $padding map.get($mat-list-option, checkbox, before, margin-left) + map.get($mat-list-option, checkbox, padding)

mat-chip-set
  $padding-horizontal: 1px

  padding-top: $padding-horizontal
  padding-bottom: $padding-horizontal

mat-chip
  font-size: 10px
