<dl *ngIf="info.generalInfo as info">
  <div>
    <dt>Последняя точка:</dt>
    <dd><span>{{ info.lastMessageTime | relativeTime }}</span></dd>
    <dd><span>{{ info.lastMessageTime | date }}</span></dd>
  </div>

  <div>
    <dt>Скорость</dt>
    <dd>{{ info.speed | number:'1.1-1':'en-US' }} км/ч</dd>
  </div>

  <div>
    <dt>Пробег</dt>
    <dd>{{ info.mileage | number:'1.0-0' }} км</dd>
  </div>

  <div>
    <dt>Моточасы</dt>
    <dd>{{ info.engineHours }} ч</dd>
  </div>

  <div>
    <dt>Спутники</dt>
    <dd>{{ info.satellitesNumber }}</dd>
  </div>

  <div>
    <dt>Координаты</dt>

    <dd>
      <span>ш: {{ info.latitude | number: '1.6-6':'en-US' }}&deg;</span>
      <span>д: {{ info.longitude | number: '1.6-6':'en-US' }}&deg;</span>
    </dd>
  </div>
</dl>

<ng-container *ngIf="info.trackerInfo.sensors as sensors">
  <h1>Значения датчиков</h1>

  <dl>
    <ng-container *ngFor="let sensor of sensors">
      <dt>{{ sensor.name }}:</dt>
      <dd>
        <ng-container *ngIf="sensor.value">{{ sensor.value }} {{ sensor.unit }}</ng-container>
      </dd>
    </ng-container>
  </dl>
</ng-container>

<ng-container *ngIf="info.trackerInfo as tracker">
  <h1>Настройки подключения</h1>

  <dl>
      <dt>Тип устройства:</dt>
      <dd>{{ tracker.trackerType }}</dd>

      <dt>Уникальный ID:</dt>
      <dd>{{ tracker.externalId }}</dd>

      <dt>Телефон:</dt>
      <dd>{{ tracker.simNumber.slice(0, 2) + '&nbsp;(' + tracker.simNumber.slice(2, 5) + ')&nbsp;' + tracker.simNumber.slice(4) }}</dd>

      <dt>IMEI:</dt>
      <dd>{{ tracker.imei }}</dd>
  </dl>
</ng-container>

<ng-container *ngIf="info.trackerInfo.parameters as parameters">
  <h1>Параметры</h1>

  <mat-chip-set>
    <mat-chip disableRipple *ngFor="let parameter of parameters">
      {{ parameter.paramName }}={{ parameter.lastValueString ?? parameter.lastValueDecimal ?? parameter.lastValueDateTime }}
    </mat-chip>
  </mat-chip-set>
</ng-container>
