<dl *ngIf="info.generalInfo as info">
  <div>
    <dt>Последняя точка:</dt>

    <dd>
      <ng-container *ngIf="info.lastMessageTime !== undefined; else default">{{ info.lastMessageTime | relativeTime }}</ng-container>
    </dd>

    <ng-container *ngIf="info.lastMessageTime">
      <dd>{{ info.lastMessageTime | date }}</dd>
    </ng-container>
  </div>

  <div>
    <dt>Скорость</dt>

    <dd>
      <ng-container *ngIf="info.speed !== undefined; else default">{{ info.speed | number:'1.1-1':'en-US' }} км/ч</ng-container>
    </dd>
  </div>

  <div>
    <dt>Пробег</dt>

    <dd>
      <ng-container *ngIf="info.mileage !== undefined; else default">{{ info.mileage | number:'1.0-0' }} км</ng-container>
    </dd>
  </div>

  <div>
    <dt>Моточасы</dt>

    <dd>
      <ng-container *ngIf="info.engineHours !== undefined; else default">{{ info.engineHours }} ч</ng-container>
    </dd>
  </div>

  <div>
    <dt>Спутники</dt>

    <dd>
      <ng-container *ngIf="info.satellitesNumber !== undefined; else default">{{ info.satellitesNumber }}</ng-container>
    </dd>
  </div>

  <div>
    <dt>Координаты</dt>

    <dd>
      <ng-container *ngIf="info.latitude !== undefined || info.longitude !== undefined; else default">
        <span>
          <ng-container *ngIf="info.latitude !== undefined; else default">
            ш: {{ info.latitude | number: '1.6-6':'en-US' }}&deg;
          </ng-container>
        </span>
        <span>
          <ng-container *ngIf="info.longitude !== undefined; else default">
            д: {{ info.longitude | number: '1.6-6':'en-US' }}&deg;
          </ng-container>
        </span>
      </ng-container>
    </dd>
  </div>
</dl>

<ng-template #default>-</ng-template>

<ng-container *ngIf="info.trackerInfo.sensors?.length">
  <h1>Значения датчиков</h1>

  <dl>
    <ng-container *ngFor="let sensor of info.trackerInfo.sensors">
      <dt>{{ sensor.name }}:</dt>
      <dd>
        <ng-container *ngIf="sensor.value">{{ sensor.value }} {{ sensor.unit }}</ng-container>
      </dd>
    </ng-container>
  </dl>
</ng-container>

<ng-container *ngIf="info.trackerInfo as tracker">
  <h1>Настройки подключения</h1>

  <dl>
    <dt>Тип устройства:</dt>
    <dd>{{ tracker.trackerType }}</dd>

    <dt>Уникальный ID:</dt>
    <dd>{{ tracker.externalId }}</dd>

    <dt>Телефон:</dt>
    <dd>{{ tracker.simNumber.slice(0, 2) + '&nbsp;(' + tracker.simNumber.slice(2, 5) + ')&nbsp;' + tracker.simNumber.slice(4) }}</dd>

    <dt>IMEI:</dt>
    <dd>{{ tracker.imei }}</dd>
  </dl>
</ng-container>

<ng-container *ngIf="info.trackerInfo.parameters as parameters">
  <h1>Параметры</h1>

  <mat-chip-set>
    <mat-chip disableRipple *ngFor="let parameter of parameters">
      {{ parameter.paramName }}={{ parameter.lastValueString ?? parameter.lastValueDecimal ?? parameter.lastValueDateTime }}
    </mat-chip>
  </mat-chip-set>
</ng-container>
