@use 'sass:math'
@use 'variables' as *

\:host
  display: flex

aside
  display: flex
  flex-direction: column
  flex-basis: 400px
  height: 100vh
  background-color: $white

mat-selection-list,
mat-list-option
  $border-width: 1px

  border-top: math.div($border-width, 2) solid $light-gray
  border-bottom: math.div($border-width, 2) solid $light-gray

mat-selection-list
  overflow-y: auto

  > div
    position: relative

mat-list-option
  font-size: 12px

bio-tech-monitoring-state
  position: absolute
  top: 50%
  right: $mat-list-item-padding-right

bio-map
  flex: 1
  height: unset
